:root {
    --main-color: black;
    --grid-size: 500px;
}

* {
    /* border: 1px solid red; */

    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 100%;

    font-family: Arial, sans-serif;
}

#content-container {
    /* border: 1px solid red; */
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#content-container h1{
    padding: 10px;
}

#grid-container {
    border: 5px solid var(--main-color);
    border-radius: 10px;
    padding: 10px;

    width: var(--grid-size);
    height: var(--grid-size);

    transition: all 0.5s ease;
}

table {
    border-spacing: 0;
    width: 100%;
    height: 100%;

}

td.dead {
    background: white;
}

td.alive {
    background-color: var(--main-color);
}

.controls 
{
    /* border: 1px solid var(--main-color); */
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;

    position: fixed;
    bottom: 0;
    padding-bottom: 10px;
}

button{
    padding: 5px;
    margin: 5px;

    width: 80px;
}

button#stop {
    background-color: red;
    color: white;
    border-radius: 3px;
}

input {
    margin: 5px;
    width: 30px;
    height: 30px;
}

input[type="range"] {
    width: 100px;
}
